img {
    width: 250px;
    height: 150px;
}

ul {
    list-style-type: none;
    display: flex;
    color: #E5e7eb;
    gap: 12px;
    padding-right: 96px; /*120px(to align with picture below)-24px(header padding)=96px*/
} 

.header {
    display: flex;
    padding: 24px;
    background-color: #1F2937;
    justify-content: space-between;
}

.header_logo {
    color: white;
    font-size: 24px;
    font-weight: bolder;
    padding: 0px 120px;
}

.awesome {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 60px 120px;
}

.awesome_title {
    font-size: 48px;
    font-weight: bolder;
    color: white;
    padding: 24px;
}

.awesome_desc {
    padding: 0px 24px;
}

button {
    margin: 0px 24px;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}
div {
    font-family: Helvetica;
}